<?xml version="1.0"?>
<robot name="effibote3" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="M_PI" value="3.14159"/>
    <xacro:include filename="$(find romea_odo_description)/urdf/4WD_chassis.xacro" />
    <xacro:include filename="$(find romea_odo_description)/ros2_control/4WD.ros2_control.xacro"/>

    <xacro:property name="chassis_conf" value="$(find effibote3_description)/config/effibote3_chassis.yaml" />
    <xacro:property name="kinematic_conf" value="$(find effibote3_description)/config/effibote3_kinematic.yaml" />
    <xacro:property name="joints_conf_file" value="$(find effibote3_description)/config/effibote3_joints.yaml" />
    <xacro:property name="links_conf_file" value="$(find effibote3_description)/config/effibote3_links.yaml" />

    <xacro:property name="chassis_props" value="${load_yaml(chassis_conf)}"/>
    <xacro:property name="kinematic_props" value="${load_yaml(kinematic_conf)}"/>
    <xacro:property name="joints" value="${load_yaml(joints_conf_file)}"/>
    <xacro:property name="links" value="${load_yaml(links_conf_file)}"/>

    <!-- Link names -->
    <xacro:property name="base_link" value="${links['base_link_name']}" />
    <xacro:property name="base_footprint_link" value="${links['base_footprint_link_name']}" />
    <xacro:property name="inertial_link" value="${links['inertial_link_name']}" />
    <xacro:property name="front_left_wheel_spinning_link" value="${links['front_left_wheel_spinning_link_name']}" />
    <xacro:property name="front_right_wheel_spinning_link" value="${links['front_right_wheel_spinning_link_name']}" />
    <xacro:property name="rear_left_wheel_spinning_link" value="${links['rear_left_wheel_spinning_link_name']}" />
    <xacro:property name="rear_right_wheel_spinning_link" value="${links['rear_right_wheel_spinning_link_name']}" />

    <!-- Joint names -->
    <xacro:property name="base_footprint_joint" value="${joints['base_footprint_joint_name']}" />
    <xacro:property name="inertial_joint" value="${joints['inertial_joint_name']}" />
    <xacro:property name="front_left_wheel_spinning_joint" value="${joints['front_left_wheel_spinning_joint_name']}" />
    <xacro:property name="front_right_wheel_spinning_joint" value="${joints['front_right_wheel_spinning_joint_name']}" />
    <xacro:property name="rear_left_wheel_spinning_joint" value="${joints['rear_left_wheel_spinning_joint_name']}" />
    <xacro:property name="rear_right_wheel_spinning_joint" value="${joints['rear_right_wheel_spinning_joint_name']}" />

    <!-- Base Properties -->
    <xacro:property name="aabb_length" value="${chassis_props['aabb']['length']}" />
    <xacro:property name="aabb_width" value="${chassis_props['aabb']['width']}" />
    <xacro:property name="aabb_height" value="${chassis_props['aabb']['height']}" />

    <xacro:property name="wheelbase" value="${chassis_props['wheelbase']}"/>
    <xacro:property name="front_track" value="${chassis_props['wheel_track']['front']}"/>
    <xacro:property name="rear_track" value="${chassis_props['wheel_track']['rear']}"/>
    <xacro:property name="mass_base" value="${chassis_props['mass']}" />
    <xacro:property name="mass_center_x" value="${chassis_props['mass_center_position'][0]}" />
    <xacro:property name="mass_center_y" value="${chassis_props['mass_center_position'][1]}" />
    <xacro:property name="mass_center_z" value="${chassis_props['mass_center_position'][2]}" />

    <xacro:property name="maximal_wheel_speed" value="${kinematic_props['maximal_wheel_speed']}"/>
    <xacro:property name="body_reference_x" value="${kinematic_props['body_reference_x']}" />


    <!-- Wheel Properties -->
    <xacro:property name="front_wheel_radius" value="${chassis_props['wheel_radius']['front']}" />
    <xacro:property name="rear_wheel_radius" value="${chassis_props['wheel_radius']['rear']}" />
    <xacro:property name="front_wheel_width" value="${chassis_props['wheel_width']['front']}" />
    <xacro:property name="rear_wheel_width" value="${chassis_props['wheel_width']['rear']}" />
    <xacro:property name="front_wheel_mass" value="20." />
    <xacro:property name="rear_wheel_mass" value="20." />
    <xacro:property name="wheel_radius" value="${front_wheel_radius}" />
    <xacro:property name="wheel_width" value="${front_wheel_width}" />

    <!-- Wheel Mounting Positions -->
    <xacro:property name="ground_clearance" value="${chassis_props['ground_clearance']}"/>
    <xacro:property name="front_wheel_y_offset" value="${chassis_props['hub_carrier_offset']['front']}" />
    <xacro:property name="rear_wheel_y_offset" value="${chassis_props['hub_carrier_offset']['rear']}" />
    <xacro:property name="chassis_height" value="${min(front_wheel_radius,rear_wheel_radius)}" />


  <xacro:macro name="effibote3">

    <xacro:chassis>
        <visual>
          <geometry>
            <box size="${aabb_length} ${aabb_width} ${aabb_height}"/>
          </geometry>
          <material name="grey">
            <color rgba="0.6 0.6 0.6 1"/>
          </material>
        </visual>

        <!-- visual wheel -->
        <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
    </xacro:chassis>

    <xacro:base_control/>

  </xacro:macro>

</robot>
