<?xml version="1.0"?>
<robot name="effibote3" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- <xacro:property name="M_PI" value="3.14159" /> -->

  <xacro:include filename="$(find romea_mobile_base_description)/urdf/base4WD.chassis.xacro" />
  <xacro:include filename="$(find effibote3_description)/urdf/visual/chassis.xacro" />
  <xacro:include filename="$(find effibote3_description)/urdf/visual/wheels.xacro" />

  <xacro:property name="conf" value="$(find effibote3_description)/config/effibote3.yaml" />
  <xacro:include filename="$(find effibote3_description)/urdf/effibote3_properties.xacro" />

  <xacro:macro name="effibote3" params="mode prefix">

    <xacro:chassis>
      <chassis_visuals>
        <xacro:chassis_visual />
      </chassis_visuals>
      <xacro:front_left_wheel_visual />
      <xacro:front_right_wheel_visual />
      <xacro:rear_left_wheel_visual />
      <xacro:rear_right_wheel_visual />
    </xacro:chassis>

  </xacro:macro>

</robot>