<?xml version='1.0' encoding='utf-8'?>
<robot name="effibote3" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="prefix" default="effibote3_" />
  <xacro:arg name="mode" default="simulation" />
  <xacro:arg name="base_name" default="base" />
  <xacro:arg name="ros2_control_config_urdf_file" default="" />
  <xacro:arg name="controller_manager_config_yaml_file" default="" />
  <xacro:arg name="ros_prefix" default="/effibote3/" />

  <xacro:include filename="$(find effibote3_description)/urdf/effibote3.xacro" />
  <xacro:effibote3 mode="$(arg mode)" prefix="$(arg prefix)" />

  <xacro:include filename="$(find effibote3_description)/urdf/effibote3.simulation.xacro" />

  <xacro:effibote3_simulation
    mode="$(arg mode)"
    base_name="$(arg base_name)"
    ros_prefix="$(arg ros_prefix)"
    controller_manager_config_yaml_file="$(arg controller_manager_config_yaml_file)" />

</robot>